<html>
  <head>
  <script>
  function showUser(str) {
      if (str == "") {
          document.getElementById("txtHint").innerHTML = "";
          return;
      } else {
          if (window.XMLHttpRequest) {
              // code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp = new XMLHttpRequest();
          } else {
              // code for IE6, IE5
              xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
          }
          xmlhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  document.getElementById("txtHint").innerHTML = this.responseText;
              }
          };
          xmlhttp.open("GET","getuser.php?q="+str,true);
          xmlhttp.send();
      }
  }
  </script>
  </head>
  <body>
  
  <form>
  <select name="users" onchange="showUser(this.value)">
    <option value="">Select a person:</option>
    <option value="1">Peter Griffin</option>
    <option value="2">Lois Griffin</option>
    <option value="3">Gard </option>
    <option value="4">Thomas </option>
    </select>
    <form action="digi.php" onchange="showUser(this.getElementByName)">
        Navn: <input type="text" name="name"><br>
        Etternavn: <input type="text" name="etternavn"><br>
        E-post: <input type="text" name="epost"><br>
        Telefonnummer: <input type="text" name="tlf"><br>
        Fødselsdato: <input type="text" name="fdato"><br>
        <input type="submit">
        
  </form>
  <br>
  <div id="txtHint"><b>Personopplysninger vil vises her...</b></div>
  
  </body>
  </html> 